@import './styles/colors.css';

#root[class] {
  margin: 0 auto;
  height: 100vh;
  padding: 0;
  background-color: var(--color-fondo);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#modal-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
}

#modal-root > * {
  pointer-events: auto;
}